{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Application - Home{% endblock %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h2>Homepage</h2>
{% endblock %}
